* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    color: #16171d;
    line-height: 1;
}

h2 {
    margin: 0;
    padding: 0;
}

header {
    background: white;
}

header nav {
    display: flex;
    padding: 20px 40px;
    align-items: center;
    border-bottom: #eee solid 2px;
}

header nav .links{

    display: flex;
    justify-content: flex-end;
    flex: 1;
}

header nav .links .link{
    color: #16171d;
    text-decoration: none;
    line-height: 40px;
    font-weight: 600;
    font-size: 20px;
    transition: color 0.5s;
}
header nav .links .link:hover{
    color: #00d770;
}
header .logo {
    display: flex;
    flex: 1;
    align-items: center;
    font-weight: bold;
    color: #16171d;
}

header .logo img {
    width: 50px;
    height: 50px;
}

header .logo .name {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}

header .banner {
    display: flex;
    align-items: flex-end;
}

header .banner small {
    color: #00d770;
    font-size: 1.5vw;
}

header .banner h2 {
    color: #16171d;
    margin: 0;
    font-size: 5vw;
    line-height: 1em;
}

header .banner .button {
    background: #00d770;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    display: table;
    text-decoration: none;
    margin-top: 5vh;
    transition: 0.5s opacity;
    backface-visibility: hidden;
    font-size: 1.5vw;
    font-weight: bold;
}

header .banner .button:hover {
    opacity: 0.8;
}

header .banner .details{
    color: #ccc;
    font-size: 14px;
    letter-spacing: -0.02em;
    padding-top: 10px;
    margin: 0;
}

header .banner .left {
    display: flex;
    align-items: center;
    width: 40%;
    height: 80vh;
    padding-left: 40px;
}

header .banner .left .info {
    display: flex;
    flex-direction: column;
}

header .banner .right {
    display: flex;
    align-items: baseline;
    background: url("../images/screenshot.png") no-repeat;
    background-size: 150%;
    height: 80vh;
    flex: 1;
}

header .banner .right img {
    display: block;
    width: 100%;
}

section {
    padding: 40px 0px;
}

main {
    min-height: 300px;
    font-weight: lighter;
}

main h2 {
    display: block;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    color: white;
}

main p {
    color: rgba(255, 255, 255, 0.5);
}

main .list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

main .list .item {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
    color: #696f7a;
    padding: 0 20px;
    font-weight: 600;
    line-height: 1.3em;
}

main .list .item .icon {
    max-width: 130px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #00d770;
    font-size: 130px;
}

section.features {
    background: #191c21;
    color: #babcc2;
    font-size: 20px;
    padding: 100px 0px;
}

section.features h2{
    color: #9da5b4;
}

section.available {
    padding: 40px;
}

section.available h2 {
    margin: 0;
    color: #ccc;
    font-size: 30px;
    font-weight: bold;
}

footer {
    background: #16171d;
    padding: 40px;
    color: white;
    color: #abb2bf;
    font-weight: 600;
}

footer a {
    text-decoration: none;
    color: white;
}

footer .ion-heart {
    color: #ef3f3a;
}

@media (max-width: 960px) {
    header nav {
        padding: 10px 20px;
    }
    header .banner {
        flex-direction: column;
    }
    header .banner small {
        font-size: 5vw;
    }
    header .banner h2 {
        font-size: 10vw;
    }
    header .banner .button {
        display: none;
    }
    header .banner .left {
        width: 100%;
        height: auto;
        padding: 40px 20px;
    }
    header .banner .left .info h1 {
        font-size: 40px;
    }
    header .banner .right {
        width: 100%;
        height: 240px;
    }
    header .banner .right {
        background-size: 100% auto;
    }
    section.features {
        padding: 40px 0;
    }
    section.features .list {
        flex-wrap: wrap;
    }
    section.features .list .item {
        width: 50%;
        margin-bottom: 80px;
    }
    section.features .list .item .icon {
        font-size: 80px;
    }

    footer{
        padding: 40px 20px;
    }
}
